                    * {
                        margin: 0;
                        padding: 0;
                    }
                    
                    html {
                        font-size: 62.5%;
                        box-sizing: border-box;
                    }
                    
                    h1 {
                        font-size: 3.5rem;
                    }
                    
                    h2 {
                        font-size: 3rem;
                    }
                    
                    h3 {
                        font-size: 2.5rem;
                    }
                    
                    .contenedor {
                        max-width: 1368px;
                        margin: 0 auto;
                    }
                    /* HEADER */
                    
                    .contenedor-grid-inicio {
                        display: grid;
                        grid-template-rows: 185px 770px 1069px 563px;
                    }
                    
                    .header .encabezado {
                        display: flex;
                        background-color: rgb(238, 227, 168);
                    }
                    
                    .header .navegacion-principal {
                        background-color: black;
                        text-align: center;
                        padding: 1rem;
                    }
                    
                    .navegacion-principal a {
                        color: yellow;
                        text-decoration: none;
                    }
                    
                    .navegacion-principal a:hover {
                        cursor: pointer;
                        color: black;
                        background-color: yellow;
                        transition: .5s;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                    
                    @media (max-width:570px) {
                        .contenedor-grid-inicio {
                            grid-template-columns: 1fr;
                            grid-template-rows: repeat(3, 1fr);
                            text-align: center;
                        }
                        .header {
                            display: grid;
                            grid-template-rows: repeat(2, 1fr);
                        }
                        .encabezado {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                        }
                        .encabezado img {
                            margin-top: 1rem;
                        }
                        .encabezado h1 {
                            padding: 1rem;
                            margin: 1rem;
                        }
                        .navegacion-principal ul {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                        }
                        .navegacion-principal ul li {
                            padding-top: 1rem;
                        }
                        .navegacion-principal ul li a {
                            display: block;
                            margin: 1rem;
                            font-size: 2rem;
                        }
                        .imagen-portada {
                            display: none;
                        }
                    }
                    
                    @media (min-width:570px) and (max-width:920px) {
                        .encabezado img {
                            margin: 2rem;
                        }
                        .encabezado h1 {
                            padding: 2rem;
                            margin: 2rem;
                        }
                        .header .navegacion-principal ul li {
                            display: inline-block;
                            font-size: 2rem;
                            margin-left: 2rem;
                        }
                        .imagen-portada {
                            display: none;
                        }
                    }
                    
                    @media (min-width:920px) and (max-width:1060px) {
                        .encabezado img {
                            margin: 2rem;
                        }
                        .encabezado h1 {
                            padding: 2rem;
                            margin: 2rem;
                        }
                        .header .navegacion-principal ul li {
                            display: inline-block;
                            margin-left: 5rem;
                            font-size: 2rem;
                            text-align: center;
                        }
                    }
                    
                    @media (min-width:1060px) {
                        .header .navegacion-principal ul li {
                            display: inline-block;
                            margin-left: 10rem;
                            font-size: 2rem;
                            text-align: center;
                        }
                        .header .encabezado img {
                            margin: 2rem;
                        }
                        .header .encabezado h1 {
                            padding-top: 5rem;
                            padding-left: 2rem;
                        }
                    }
                    /*IMAGEN PORTADA*/
                    
                    @media (max-width:376px) {
                        .imagen-portada {
                            display: none;
                        }
                    }
                    
                    @media (min-width:920px) and (max-width:1060px) {
                        .imagen-portada {
                            overflow: hidden;
                        }
                    }
                    /* MAIN */
                    
                    .main {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        background-color: rgb(238, 227, 168);
                    }
                    
                    .main .noticias {
                        display: grid;
                        grid-template-columns: repeat(2, 2fr);
                        grid-column: 1/3;
                        column-gap: 1rem;
                        text-align: center;
                        padding: 2rem;
                    }
                    
                    .main .noticias article {
                        margin: 1rem;
                        padding: 1rem;
                        font-size: 2rem;
                        font-weight: bold;
                        font-family: 'PT Sans', sans-serif;
                        border: 1px solid gray;
                    }
                    
                    .main .noticias article:hover {
                        transform: scale(1.1, 1.1);
                        -ms-transform: scale(1.1, 1.1);
                        -webkit-transform: scale(1.1, 1.1);
                        -moz-transform: scale(1.1, 1.1);
                        background-color: white;
                    }
                    
                    .main .noticias article p {
                        margin-top: 1rem;
                    }
                    
                    .main .noticias article img {
                        border: 2px solid black;
                    }
                    
                    .socios {
                        display: block;
                        text-align: center;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                    
                    .socios .btn-socios {
                        text-decoration: none;
                        font-size: 4rem;
                        font-family: 'Langosta', cursiva;
                        font-weight: 800;
                        color: yellow;
                        background-color: black;
                        padding: 2rem;
                        border-radius: 2rem;
                    }
                    
                    .socios .btn-socios:hover {
                        cursor: pointer;
                        background-color: rgb(241, 241, 89);
                        color: black;
                        transition: .5s;
                    }
                    
                    @media(max-width:570px) {
                        main h2 {
                            text-align: center;
                            font-weight: bold;
                            text-transform: uppercase;
                            padding-top: 2rem;
                        }
                        .main {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 70% 30%;
                        }
                        .main .noticias {
                            display: flex;
                            flex-direction: column;
                        }
                        .socios {
                            padding: 2rem;
                        }
                        .socios .btn-socios {
                            text-decoration: none;
                            font-size: 2rem;
                            font-family: 'Langosta', cursiva;
                            font-weight: 800;
                            color: yellow;
                            background-color: black;
                            padding: 2rem;
                            border-radius: 5rem;
                        }
                    }
                    
                    @media (min-width:571px) and (max-width:920px) {
                        main h2 {
                            text-align: center;
                            font-weight: bold;
                            text-transform: uppercase;
                            padding-top: 2rem;
                        }
                        .main {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                        }
                        .main article {
                            overflow: scroll;
                        }
                        .main .socios {
                            display: grid;
                            grid-column: 1/3;
                        }
                    }
                    
                    @media (min-width:921px) and (max-width:1060px) {
                        main h2 {
                            text-align: left;
                            font-weight: bold;
                            text-transform: uppercase;
                            padding-top: 2rem;
                            padding-left: 30rem;
                        }
                        main .main {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                        }
                        .main .socios {
                            grid-column: 1/3;
                            padding: 2rem 0;
                        }
                    }
                    /*FOOTER*/
                    
                    .footer {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        background-color: rgb(238, 227, 168);
                    }
                    
                    .redes {
                        margin-top: auto;
                        margin-bottom: auto;
                        text-align: center;
                        background-color: rgb(238, 227, 168);
                    }
                    
                    .redes h3 {
                        color: rgb(12, 12, 10);
                        font-size: 4rem;
                        font-weight: bold;
                        padding: 2rem;
                    }
                    
                    .redes a i {
                        font-size: 4rem;
                        padding: 1.5rem;
                        text-align: center;
                        color: black;
                    }
                    
                    .redes a i:hover {
                        cursor: pointer;
                        color: rgb(36, 36, 32);
                        background-color: yellow;
                        border-radius: 10rem;
                    }
                    
                    .footer .maps .mapouter {
                        padding: 2rem;
                        text-align: right;
                        border: 2px solir rgb(10, 9, 9);
                    }
                    
                    .copy {
                        font-size: 2rem;
                        text-align: center;
                        color: rgb(216, 216, 56);
                        background-color: black;
                    }
                    
                    @media(max-width:570px) {
                        .footer {
                            display: grid;
                            grid-template-columns: 1fr;
                        }
                        .footer .maps {
                            display: none;
                        }
                        .footer .redes {
                            padding-bottom: 2rem;
                            text-align: center;
                        }
                    }
                    
                    @media (min-width:571px) and (max-width:920px) {
                        .footer {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 40% 60%;
                        }
                        .footer .maps {
                            align-items: center;
                            text-align: center;
                        }
                    }
                    
                    @media (min-width:1061px) {
                        main h2 {
                            text-align: left;
                            font-weight: bold;
                            text-transform: uppercase;
                            padding-top: 2rem;
                            padding-left: 30rem;
                        }
                    }
                    /* PAGE SOCIOS */
                    
                    .main-socios {
                        background-color: rgb(64, 69, 73);
                        width: auto;
                    }
                    
                    .main-socios .titulo {
                        text-align: center;
                        font-size: 4rem;
                        color: yellow;
                        padding: 2rem;
                        font-weight: bold;
                    }
                    
                    .main-socios .formulario-socios {
                        width: 100%;
                        height: 50rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .main-socios form {
                        max-width: 50rem;
                        width: 80%;
                        padding: 2rem;
                    }
                    
                    .main-socios .formulario-socios form .form-group {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                    }
                    
                    .form-group label {
                        color: rgb(240, 240, 128);
                        font-size: 2rem;
                        margin-bottom: 5px;
                    }
                    
                    .form-group input {
                        font-size: 1.5rem;
                        padding: 1rem;
                        border-radius: 3px;
                        border: none;
                        border: 1px solid rgb(245, 245, 133);
                    }
                    
                    .form-boton {
                        margin-top: 3rem;
                        text-align: center;
                    }
                    
                    .form-boton .btn-socios {
                        text-align: center;
                        background-color: rgb(145, 138, 138);
                        text-decoration: none;
                        font-size: 2rem;
                        color: rgb(241, 241, 114);
                        border-radius: 1rem;
                        padding: 1rem;
                        border: 1px solid rgb(245, 245, 133);
                    }
                    /* PAGE CONTACTO */
                    
                    .main-contacto {
                        background-color: rgb(64, 69, 73);
                        width: auto;
                    }
                    
                    .main-contacto .titulo-contacto {
                        text-align: center;
                        font-size: 4rem;
                        color: yellow;
                        padding: 2rem;
                        font-weight: bold;
                    }
                    
                    .main-contacto .formulario-contacto {
                        width: 100%;
                        height: 65rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .main-contacto form {
                        max-width: 80rem;
                        width: 80%;
                        padding: 2rem;
                    }
                    
                    .main-contacto .formulario-contacto form .form-group {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                    }
                    
                    .form-group p {
                        font-size: 2rem;
                        color: wheat;
                        margin-bottom: .5rem;
                    }
                    
                    .form-group textarea {
                        border: 1px solid rgb(245, 245, 133);
                    }
                    /* CONTACTO */
                    
                    @media(min-width:920px) {
                        .seccion-info {
                            display: flex;
                            justify-content: space-around;
                            height: 30rem;
                        }
                        .seccion-info .redes-contacto {
                            width: 40%;
                        }
                        .seccion-info .redes-contacto p {
                            font-size: 2rem;
                        }
                        .seccion-info .info p {
                            font-size: 2rem;
                            font-weight: bold;
                            padding-top: 1rem;
                            text-align: left;
                        }
                        .redes-contacto h3 {
                            font-size: 2rem;
                            text-transform: uppercase;
                        }
                    }
                    
                    @media (max-width:919px) {
                        section .seccion-info {
                            display: grid;
                            grid-template-rows: repeat(2, 1fr);
                        }
                        .seccion-info .redes-contacto {
                            grid-row: 1/2;
                        }
                        .seccion-info .info {
                            grid-row: 2/3;
                        }
                        .redes-contacto h3 {
                            font-size: 2rem;
                            text-transform: uppercase;
                        }
                        .seccion-info .info p {
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-align: center;
                            padding-bottom: 1rem;
                        }
                    }
                    /* EL CLUB */
                    
                    .main-club {
                        background-color: rgb(194, 194, 142);
                    }
                    
                    .main-club h1 {
                        text-align: center;
                        padding-top: 2rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 4.5rem;
                    }
                    
                    .instalaciones-club {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        column-gap: 2rem;
                        padding-top: 2rem;
                    }
                    
                    .main-club .instalaciones-club .instalacion img {
                        width: 300px;
                        height: 300px;
                    }
                    
                    .main-club .instalaciones-club .instalacion {
                        width: 300px;
                        height: 500px;
                        border: 2px solid rgb(245, 245, 133);
                        margin: 1rem;
                    }
                    
                    .main-club .instalaciones-club .instalacion h2 {
                        padding: .5rem;
                        text-align: center;
                    }
                    
                    .main-club .instalaciones-club .instalacion p {
                        font-size: 2rem;
                        padding: 10px;
                    }
                    
                    .footer-club {
                        height: auto;
                    }
                    
                    @media (max-width:576px) {
                        .main-club h1 {
                            text-align: center;
                            font-size: 3rem;
                            font-weight: bold;
                        }
                        .instalaciones-club {
                            display: grid;
                            grid-template-rows: repeat(8, 1fr);
                        }
                        .instalaciones-club .instalacion {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                    }
                    /* CAMPING */
                    
                    main {
                        background-color: rgb(238, 227, 168);
                    }
                    
                    main h1 {
                        font-size: 5rem;
                        font-weight: bold;
                        text-align: center;
                        padding: 2rem;
                    }
                    
                    main .camping {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    main .camping img {
                        max-width: 400px;
                        max-height: 400px;
                        text-align: center;
                    }
                    
                    .camping .camping-seccion {
                        margin: 1rem;
                        text-align: center;
                    }
                    
                    .camping .camping-seccion img {
                        border: 1px solid black;
                        float: left;
                    }
                    
                    .camping .camping-seccion p {
                        font-size: 3rem;
                        text-align: center;
                        padding: 4rem;
                    }
                    
                    @media (max-width:576px) {
                        .camping {
                            display: grid;
                            grid-template-rows: repeat(4, 1fr);
                        }
                        .camping .camping-seccion {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }